@font-face {
	font-family: proxima-nova;
	src: url(../fonts/ProximaNova-Regular.otf);
	}

/* Menu style */
* {
	box-sizing: border-box;
	font-family: proxima-nova;
}

body {
	background-image:url(../img/background.jpg);
	background-size: cover;
  background-repeat: no-repeat;
	background-position: center; 
	overflow-x: hidden;
	perspective: 1000px;
	min-height: 100vh;
	margin: 0;
}

.content {
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	position: relative;
	padding-bottom: 50px;
	min-height: 100vh;
	transform-origin: center left;
	transition: transform 0.3s ease-in-out;
}
.content.active {
	transform: translateX(200px) rotateY(20deg);
}
/* 
.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 0 30px;
} */

.sidebar {
	background-color: #1b262c;
	color: #fff;
	padding: 10px 30px;
	position: fixed;
	top: 0;
	left: 0;
	width: 200px;
	height: 100%;
	transform: translateX(-200px);
	transition: transform 0.3s ease-in-out;
	z-index: 100;
}

.sidebar.active {
	transform: translateX(0);
}

.sidebar ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.sidebar ul li {
	letter-spacing: 1px;
	margin: 20px 0;
	text-transform: uppercase;
}

.sidebar ul li a {
	color: #fff;
	text-decoration: none;
}

.sidebar ul li a:hover {
}

.sidebar .menu .fa-bars {
	display: block;
}

.sidebar .menu .fa-times {
	display: none;
}

.sidebar.active .menu .fa-bars {
	display: none;
}

.sidebar.active .menu .fa-times {
	display: block;
}

.menu {
	background-color: #0f4c75;
	color: #fff;
	border: none;
	font-size: 20px;
	position: absolute;
	top: 0;
	right: -40px;
	height: 40px;
	width: 40px;
}

.menu:focus {
	outline: none;
}

/* Efrain Style */

a {
  text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: royalblue;
}

a {
  text-decoration: none;
  position: relative;
}

hr {
	background-color: #fff;
	border-top: 2px dashed #8c8b8b;
}
footer a{
	color:#000;
}
footer a:hover{
	color: #fff;
}
.des{
	color: #000;
	text-align: justify;
}
.now{
	border-bottom: 3px solid #fff;
}
mark{
	border-radius: 5%;
	background-color: #bbe1fa;
}
.card{
	overflow: hidden;
	border-radius: 20px;
	box-shadow:  6px 6px 6px 0px rgba(0,0,0,0.75);
}

.card-body{
	transition:background-color .5s ease-in-out;
}
.card-body{
	background-color: #fff;
}
.card a:hover+.card-body{
	color: #fff;
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTxKR5UGqILMXo_um7YXa3af3B6jOhqbrmoLVAcb_yDGqbzjE-Q);
}